# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Lombok
lombok.config

# Environment / sensitive files
.env
*.env

# VS Code
.vscode/
